/*Some link that I learned from them */
/*https://www.w3schools.com/howto/howto_css_split_screen.asp */
/*https://stackoverflow.com/questions/15374918/how-to-put-two-divs-side-by-side */
/*https://www.w3.org/Style/Examples/007/center.en.html */
/*https://www.w3schools.com/cssref/trysel.asp?selector=id */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_image_text_center */
/*https://www.w3schools.com/css/css_align.asp */
/*https://www.w3schools.com/howto/howto_css_responsive_text.asp */
/*https://www.w3schools.com/css/css_overflow.asp */
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_website_layout_grid */
/*https://www.w3schools.com/css/css_website_layout.asp */
/*https://www.w3schools.com/html/html_tables.asp */
/*https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_id2 */
	
	
	body {background-color: #F6F1E8;}
	
	
	h1{
	text-align: center;
	color:#886A46;
	font-size: 2em;
	font-family:"impact";
	visibility: hidden;
	}
	h2{
	text-align: center;
	color:#886A46;
	font-size: 2em;
	background-image: url("image/main.png");
	margin:2%;
	padding:1%;
	font-family:"impact";
	}
	
	p{
	color:#886A46;
	font-size: 1.5vw;
	overflow: auto;
	font-family:"helveticaneueltpro-roman";
	
	}
	
	img{
	width:100%;
	}

	
	table{
		position: relative;
		font-size:1em;
		color:#886A46;
		width:70%;
		margin:auto;
		margin-bottom:20px
	}
	
	th{
		background-color: #886A46;
		color: white;
		padding:1%;
	}
	
	td{
		padding:1%;
		background-color: white
	}
	

	
	a img:hover{
		border: 1px solid #777;
		color:#886A46;
		z-index:3
	}	
	
	.nav{
	position:relative;
	top:10%;
	left:7%;
	float:left;
	width:15%;
	}
	
	.section{
	z-index:1;
	position:relative;
	top:10%;
	left:5%;
	float:left;
	width:70%
	}
	
	.simpleDiv{
	
	display:inline-block;
	margin:2%;
	width:25%;
	padding: 2%;
	background-image:url(image/main.png)
		
	}
	.div{
	
	display: block;
	margin-left:50px;
	margin-bottom:20px
	}
	.mainFrame{
		width:70%;
		border: 0px solid ;
		margin-bottom:5%;
		margin:auto
	}
	
	.indexes{
	  position: absolute;
		top: 5%;
		left: 30%;
		right: 20%;
		font-size: 1.5vw;
		overflow: scroll;
		border: 3px solid
	}
	
	.logo{
	  width:100%;
	}
	

	
	#myName{
	  position: absolute;
		top: 30%;
		left: 15%;
		font-size: 2vw;
		font-family:"impact";
		color:#727175
	}
	
	#myfirst{
	  position: absolute;
		top: 2%;
		left: 15%;
		right: 2%;
		bottom:10%;
		overflow: auto;
	}
